# Ignore node_modules and .next/cache (this will be generated inside the container)
node_modules
.pnp
.pnp.js
.next/cache
.next/static

# Ignore logs, environment variables, and build output
logs
*.log
.env.local
.env.development
.env.test
.env.*.local

# Ignore Git files
.git
.gitignore

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore any other files you don't need in the Docker image
npm-debug.log*
yarn-debug.log*
yarn-error.log*
