{
    "extends": [
        "stylelint-config-standard",
        "stylelint-scss",
        "@navikt/aksel-stylelint/recommended"
    ],
    "rules": {
        "selector-class-pattern": null,
        "aksel/no-class-override": null,
        "import-notation": null,
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen"]
            }
        ],
        "at-rule-no-deprecated": [
            true,
            {
                "ignoreAtRules": ["apply"]
            }
        ]
    }
}
