@import 'tailwindcss/base';
@import '@navikt/ds-css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './theme.scss';

html {
    scroll-behavior: smooth;
}

:host,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.navds-modal__hide-header {
    .navds-modal__header {
        display: none;
    }
}

.navds-accordion {
    @apply mb-10 mt-8;

    .navds-accordion__content {
        @apply pb-4 pt-6;
    }
}

.sentry-error-embed-wrapper {
    z-index: 999999 !important;
    padding-top: 200px;

    .powered-by {
        display: none;
    }

    .sentry-error-embed .form-submit {
        .btn {
            color: white;
            background: black;
            border: 2px solid black;
            border-radius: 5px;
            margin-right: 25px;
            transition: all 0.3s ease;

            &:hover,
            &:focus {
                background: white;
                color: black;
            }
        }

        .close {
            text-decoration: underline;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}
