on:
    workflow_call:
        inputs:
            registry_host:
                required: true
                type: string
            registry_username:
                required: true
                type: string
            image_name:
                required: true
                type: string
        secrets:
            registry_password:
                required: true
        outputs:
            image_digest:
                description: 'Docker image digest'
                value: ${{ jobs.build-docker.outputs.digest }}

jobs:
    build-docker:
        name: Build - Docker
        runs-on: ubuntu-latest
        outputs:
            digest: ${{ steps.build.outputs.digest }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ inputs.registry_host }}
                  username: ${{ inputs.registry_username }}
                  password: ${{ secrets.registry_password }}

            - name: Build and push
              id: build
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64
                  push: true
                  outputs: type=image,name=${{ inputs.registry_host }}/${{ inputs.image_name }},push-by-digest=true
                  cache-from: |
                      type=registry,ref=${{ inputs.registry_host }}/${{ inputs.image_name }}:buildcache
                      type=registry,ref=${{ inputs.registry_host }}/${{ inputs.image_name }}:latest
                      type=registry,ref=${{ inputs.registry_host }}/${{ inputs.image_name }}:latest-stage
                      type=registry,ref=${{ inputs.registry_host }}/${{ inputs.image_name }}:latest-feature
                  cache-to: |
                      type=registry,ref=${{ inputs.registry_host }}/${{ inputs.image_name }}:buildcache,mode=max
                  build-args: |
                      BUILDKIT_INLINE_CACHE=1
                      VERSION=${{ github.sha }}
                  provenance: false
                  sbom: false
