on:
    workflow_call:
        inputs:
            registry_host:
                required: true
                type: string
            registry_username:
                required: true
                type: string
            image_name:
                required: true
                type: string
            image_tag:
                required: true
                type: string
        secrets:
            registry_password:
                required: true

jobs:
    build-docker:
        runs-on: ubuntu-latest
        timeout-minutes: 60
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ inputs.registry_host }}
                  username: ${{ inputs.registry_username }}
                  password: ${{ secrets.registry_password }}

            - name: Build and push
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64
                  push: true
                  tags: |
                      ${{ inputs.registry_host }}/${{ inputs.image_name }}:${{ inputs.image_tag }}
                      ${{ inputs.registry_host }}/${{ inputs.image_name }}:latest
                  cache-from: |
                      type=registry,ref=${{ inputs.registry_host }}/${{ inputs.image_name }}:buildcache
                      type=registry,ref=${{ inputs.registry_host }}/${{ inputs.image_name }}:latest
                  cache-to: |
                      type=registry,ref=${{ inputs.registry_host }}/${{ inputs.image_name }}:buildcache,mode=max
                  build-args: |
                      BUILDKIT_INLINE_CACHE=1
                      VERSION=${{ inputs.image_tag }}
                  provenance: false
                  sbom: false
