on:
    workflow_call:
        inputs:
            port:
                type: string
                description: 'Port to expose the application'
                required: true
            node_version:
                type: string
                description: 'Node.js version to use for tests'
                required: true
            ping_path:
                type: string
                description: 'Ping path to check application readiness'
                required: true
            docker_registry:
                type: string
                description: 'Docker registry URL'
                required: true
            docker_username:
                type: string
                description: 'Docker registry username'
                required: true
            docker_image:
                type: string
                description: 'Docker image name'
                required: true
            docker_image_digest:
                type: string
                description: 'Docker image digest'
                required: true
            app_env:
                type: string
                description: 'Application environment'
                required: true
            test_username:
                type: string
                description: 'Test username'
                required: true
            test_suite:
                type: string
                description: 'Test suite to run'
                required: true
            test_browser:
                type: string
                description: 'Test browser to use'
                required: true

        secrets:
            docker_password:
                description: 'Docker registry password'
                required: true
            test_password:
                description: 'Test password'
                required: true

jobs:
    test-e2e:
        name: Test - E2E
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node.js for testing tools
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ inputs.node_version }}

            - name: Ensure cache directories exist
              run: mkdir -p /home/runner/.pnpm-store /home/runner/.cache/ms-playwright/.links

            - name: Login to Docker registry
              if: ${{ inputs.test_suite == 'headless' }}
              uses: docker/login-action@v3
              with:
                  registry: ${{ inputs.docker_registry }}
                  username: ${{ inputs.docker_username }}
                  password: ${{ secrets.docker_password }}

            - name: Pull Docker image by digest
              if: ${{ inputs.test_suite == 'headless' }}
              run: docker pull ${{ inputs.docker_registry }}/${{ inputs.docker_image }}@${{ inputs.docker_image_digest }}

            - name: Start application container
              if: ${{ inputs.test_suite == 'headless' }}
              run: |
                  docker run --rm -d \
                      -e PORT=${{ inputs.port }} \
                      -e APP_ENV=${{ inputs.app_env }} \
                      -e BFF_API_URL=http://localhost:${{ inputs.port }}/api \
                      -e KPAS_API_URL=${{ inputs.app_env == 'production' && 'https://kpas.kompetanse.udir.no/api' || 'https://kpas.staging.kompetanse.udir.no/api' }} \
                      -p ${{ inputs.port }}:${{ inputs.port }} \
                      ${{ inputs.docker_registry }}/${{ inputs.docker_image }}@${{ inputs.docker_image_digest }}

            - name: Wait for application readiness
              run: |
                  for i in {1..30}; do
                      if curl -fs http://localhost:${{ inputs.port }}${{ inputs.ping_path }} >/dev/null; then
                          echo "Application is ready";
                          exit 0;
                      fi

                      echo "Waiting for application...";
                      sleep 2;
                  done

                  echo "Application failed to start"; exit 1;

            - name: Setup Cache for pnpm
              uses: actions/cache@v4
              with:
                  path: /home/runner/.pnpm-store
                  key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}

            - name: Install PNPM and Dependencies
              run: |
                  npm install -g pnpm
                  pnpm install --frozen-lockfile --store-dir=/home/runner/.pnpm-store

            - name: Get installed Playwright version
              run: |
                  PLAYWRIGHT_VERSION=$(grep "'@playwright/test@" pnpm-lock.yaml | sed -n "s/.*'@playwright\/test@\([0-9.]*\)'.*/\1/p" | head -1)
                  echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV

            - name: Cache Playwright binaries
              uses: actions/cache@v4
              id: playwright-cache
              with:
                  path: /home/runner/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}-${{ inputs.test_browser }}

            - name: Install Playwright browsers and dependencies
              if: steps.playwright-cache.outputs.cache-hit != 'true' || ${{ inputs.test_suite == 'headless' && inputs.test_browser == 'webkit' }}
              run: pnpm exec playwright install --with-deps ${{ inputs.test_browser }}

            - name: Run tests
              run: pnpm run test:${{ inputs.test_suite }}:${{ inputs.test_browser }}
              env:
                  PORT: ${{ inputs.port }}
                  APP_ENV: ${{ inputs.app_env }}
                  TEST_CANVAS_CHROMIUM_USERNAME: ${{ inputs.test_username }}
                  TEST_CANVAS_CHROMIUM_PASSWORD: ${{ secrets.test_password }}
                  TEST_CANVAS_FIREFOX_USERNAME: ${{ inputs.test_username }}
                  TEST_CANVAS_FIREFOX_PASSWORD: ${{ secrets.test_password }}
                  TEST_CANVAS_WEBKIT_USERNAME: ${{ inputs.test_username }}
                  TEST_CANVAS_WEBKIT_PASSWORD: ${{ secrets.test_password }}

            - name: Generate Markdown Report
              id: generate-markdown
              if: always()
              run: node .github/playwright/markdown-reporter.js

            - name: Upload Markdown Report to GitHub Summary
              if: always()
              run: |
                  cat ./playwright-report/report.md >> $GITHUB_STEP_SUMMARY
