name: Branch - Production V1

permissions:
    id-token: write
    contents: read

on:
    push:
        branches:
            - main-disabled
    workflow_dispatch:

concurrency:
    group: ${{ github.ref }}-production
    cancel-in-progress: true

jobs:
    build-docker:
        uses: ./.github/workflows/build-docker.yml
        with:
            force_build: ${{ vars.FORCE_BUILD_DOCKER == 'true' }}
            docker_registry: ${{ vars.PROD_DOCKER_REGISTRY }}
            docker_username: ${{ vars.PROD_DOCKER_USERNAME }}
            docker_image: ${{ vars.DOCKER_IMAGE }}
            app_env: production
        secrets:
            docker_password: ${{ secrets.PROD_DOCKER_PASSWORD }}

    test-lint:
        needs: [build-docker]
        uses: ./.github/workflows/test-lint.yml
        with:
            node_version: '20'

    test-e2e-headless-chromium:
        needs: [build-docker]
        uses: ./.github/workflows/test-e2e.yml
        with:
            port: ${{ vars.PORT }}
            node_version: '20'
            ping_path: '/kontakt/'
            docker_registry: ${{ vars.PROD_DOCKER_REGISTRY }}
            docker_username: ${{ vars.PROD_DOCKER_USERNAME }}
            docker_image: ${{ vars.DOCKER_IMAGE }}
            app_env: production
            test_username: ${{ vars.PROD_TEST_CANVAS_USERNAME }}
            test_suite: 'headless'
            test_browser: 'chromium'
        secrets:
            docker_password: ${{ secrets.PROD_DOCKER_PASSWORD }}
            test_password: ${{ secrets.PROD_TEST_CANVAS_PASSWORD }}

    test-e2e-headless-firefox:
        needs: [build-docker]
        uses: ./.github/workflows/test-e2e.yml
        with:
            port: ${{ vars.PORT }}
            node_version: '20'
            ping_path: '/kontakt/'
            docker_registry: ${{ vars.PROD_DOCKER_REGISTRY }}
            docker_username: ${{ vars.PROD_DOCKER_USERNAME }}
            docker_image: ${{ vars.DOCKER_IMAGE }}
            app_env: production
            test_username: ${{ vars.PROD_TEST_CANVAS_USERNAME }}
            test_suite: 'headless'
            test_browser: 'firefox'
        secrets:
            docker_password: ${{ secrets.PROD_DOCKER_PASSWORD }}
            test_password: ${{ secrets.PROD_TEST_CANVAS_PASSWORD }}

    test-e2e-headless-webkit:
        needs: [build-docker]
        uses: ./.github/workflows/test-e2e.yml
        with:
            port: ${{ vars.PORT }}
            node_version: '20'
            ping_path: '/kontakt/'
            docker_registry: ${{ vars.PROD_DOCKER_REGISTRY }}
            docker_username: ${{ vars.PROD_DOCKER_USERNAME }}
            docker_image: ${{ vars.DOCKER_IMAGE }}
            app_env: production
            test_username: ${{ vars.PROD_TEST_CANVAS_USERNAME }}
            test_suite: 'headless'
            test_browser: 'webkit'
        secrets:
            docker_password: ${{ secrets.PROD_DOCKER_PASSWORD }}
            test_password: ${{ secrets.PROD_TEST_CANVAS_PASSWORD }}

    deploy-app:
        needs:
            [
                test-lint,
                test-e2e-headless-chromium,
                test-e2e-headless-firefox,
                test-e2e-headless-webkit,
            ]
        uses: ./.github/workflows/deploy-app.yml
        with:
            azure_client_id: ${{ vars.AZURE_CLIENT_ID }}
            azure_tenant_id: ${{ vars.AZURE_TENANT_ID }}
            azure_subscription_id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
            azure_app_service_name: ${{ vars.PROD_AZURE_APP_SERVICE_NAME }}
            azure_resource_group: ${{ vars.PROD_AZURE_RESOURCE_GROUP }}
            docker_registry: ${{ vars.PROD_DOCKER_REGISTRY }}
            docker_username: ${{ vars.PROD_DOCKER_USERNAME }}
            docker_image: ${{ vars.DOCKER_IMAGE }}
        secrets:
            docker_password: ${{ secrets.PROD_DOCKER_PASSWORD }}
