name: Release - Production

on:
    workflow_dispatch:
        inputs:
            tag:
                description: 'Image tag name'
                required: true
    release:
        types: [published]

jobs:
    build-app:
        name: App
        uses: ./.github/workflows/_build-docker.yml
        with:
            registry_host: ${{ vars.PROD_REGISTRY_HOST }}
            registry_username: ${{ vars.PROD_REGISTRY_USERNAME }}
            image_name: ${{ vars.PROD_IMAGE_NAME }}
        secrets:
            registry_password: ${{ secrets.PROD_REGISTRY_PASSWORD }}

    deploy:
        name: App
        needs: [build-app]
        if: ${{ success() }}
        uses: ./.github/workflows/_deploy-docker.yml
        with:
            environment_name: 'production'
            environment_url: 'https://kp.udir.no'
            registry_host: ${{ vars.PROD_REGISTRY_HOST }}
            registry_username: ${{ vars.PROD_REGISTRY_USERNAME }}
            image_name: ${{ vars.PROD_IMAGE_NAME }}
            image_digest: ${{ needs.build-app.outputs.image_digest }}
            image_tag: ${{ github.event.release.tag_name || github.event.inputs.tag }}
        secrets:
            registry_password: ${{ secrets.PROD_REGISTRY_PASSWORD }}
