name: Release - Stage

on:
    workflow_dispatch:
    push:
        branches:
            - stage

concurrency:
    group: release-stage-${{ github.ref_name }}
    cancel-in-progress: true

jobs:
    build-app:
        name: App
        uses: ./.github/workflows/_build-docker.yml
        with:
            registry_host: ${{ vars.PROD_REGISTRY_HOST }}
            registry_username: ${{ vars.PROD_REGISTRY_USERNAME }}
            image_name: ${{ vars.STAGE_IMAGE_NAME }}
            latest_tag: 'latest-stage'
        secrets:
            registry_password: ${{ secrets.PROD_REGISTRY_PASSWORD }}

    deploy:
        name: App
        needs: [build-app]
        if: ${{ success() }}
        uses: ./.github/workflows/_deploy-docker.yml
        with:
            environment_name: 'stage'
            environment_url: 'https://kp.stage.udir.no'
            registry_host: ${{ vars.PROD_REGISTRY_HOST }}
            registry_username: ${{ vars.PROD_REGISTRY_USERNAME }}
            image_name: ${{ vars.STAGE_IMAGE_NAME }}
            image_digest: ${{ needs.build-app.outputs.image_digest }}
            latest_tag: 'latest-stage'
        secrets:
            registry_password: ${{ secrets.PROD_REGISTRY_PASSWORD }}
