name: Release - Feature

on:
    workflow_dispatch:
    push:
        branches:
            - '*/DIT-*'

jobs:
    build-app:
        name: App
        uses: ./.github/workflows/_build-docker.yml
        with:
            registry_host: ${{ vars.PROD_REGISTRY_HOST }}
            registry_username: ${{ vars.PROD_REGISTRY_USERNAME }}
            image_name: ${{ vars.STAGE_IMAGE_NAME }}
            latest_tag: 'latest-stage'
        secrets:
            registry_password: ${{ secrets.PROD_REGISTRY_PASSWORD }}

    lint-code:
        name: Code
        needs: [build-app]
        uses: ./.github/workflows/_test-lint.yml
        with:
            node_version: '22'

    test-chromium:
        name: Chromium
        needs: [build-app]
        if: ${{ success() }}
        uses: ./.github/workflows/_test-e2e.yml
        with:
            port: ${{ vars.PORT }}
            node_version: '22'
            ping_path: '/api/ping/'
            docker_registry: ${{ vars.PROD_REGISTRY_HOST }}
            docker_username: ${{ vars.PROD_REGISTRY_USERNAME }}
            docker_image: ${{ vars.STAGE_IMAGE_NAME }}
            docker_image_digest: ${{ needs.build-app.outputs.image_digest }}
            app_env: production
            test_username: ${{ vars.PROD_TEST_CANVAS_USERNAME }}
            test_suite: 'headless'
            test_browser: 'chromium'
        secrets:
            docker_password: ${{ secrets.PROD_REGISTRY_PASSWORD }}
            test_password: ${{ secrets.PROD_TEST_CANVAS_PASSWORD }}
