name: Schedule - Production

on:
    schedule:
        - cron: '0 * * * *'
    push:
        branches:
            - main
    workflow_dispatch:

concurrency:
    group: ${{ github.ref }}-schedule-production
    cancel-in-progress: true

jobs:
    test-e2e-canvas-chromium:
        uses: ./.github/workflows/test-e2e.yml
        with:
            port: ${{ vars.PORT }}
            node_version: '20'
            ping_path: '/kontakt/'
            docker_registry: ${{ vars.PROD_DOCKER_REGISTRY }}
            docker_username: ${{ vars.PROD_DOCKER_USERNAME }}
            docker_image: ${{ vars.DOCKER_IMAGE }}
            app_env: production
            test_username: ${{ vars.TEST_CANVAS_CHROMIUM_USERNAME }}
            test_suite: 'canvas'
            test_browser: 'chromium'
        secrets:
            docker_password: ${{ secrets.PROD_DOCKER_PASSWORD }}
            test_password: ${{ secrets.TEST_CANVAS_CHROMIUM_PASSWORD }}

    test-e2e-canvas-firefox:
        uses: ./.github/workflows/test-e2e.yml
        with:
            port: ${{ vars.PORT }}
            node_version: '20'
            ping_path: '/kontakt/'
            docker_registry: ${{ vars.PROD_DOCKER_REGISTRY }}
            docker_username: ${{ vars.PROD_DOCKER_USERNAME }}
            docker_image: ${{ vars.DOCKER_IMAGE }}
            app_env: production
            test_username: ${{ vars.TEST_CANVAS_FIREFOX_USERNAME }}
            test_suite: 'canvas'
            test_browser: 'firefox'
        secrets:
            docker_password: ${{ secrets.PROD_DOCKER_PASSWORD }}
            test_password: ${{ secrets.TEST_CANVAS_FIREFOX_PASSWORD }}

    test-e2e-canvas-webkit:
        uses: ./.github/workflows/test-e2e.yml
        with:
            port: ${{ vars.PORT }}
            node_version: '20'
            ping_path: '/kontakt/'
            docker_registry: ${{ vars.PROD_DOCKER_REGISTRY }}
            docker_username: ${{ vars.PROD_DOCKER_USERNAME }}
            docker_image: ${{ vars.DOCKER_IMAGE }}
            app_env: production
            test_username: ${{ vars.TEST_CANVAS_WEBKIT_USERNAME }}
            test_suite: 'canvas'
            test_browser: 'webkit'
        secrets:
            docker_password: ${{ secrets.PROD_DOCKER_PASSWORD }}
            test_password: ${{ secrets.TEST_CANVAS_WEBKIT_PASSWORD }}
