on:
    workflow_call:
        inputs:
            port:
                type: string
                description: 'Port to expose the application'
                required: true
            node_version:
                type: string
                description: 'Node.js version to use for tests'
                required: true
            ping_path:
                type: string
                description: 'Ping path to check application readiness'
                required: true
            runtime_env:
                type: string
                description: 'Multi-line environment variables (key=value)'
                required: false
            docker_registry:
                type: string
                description: 'Docker registry URL'
                required: true
            docker_username:
                type: string
                description: 'Docker registry username'
                required: true
            docker_image:
                type: string
                description: 'Docker image name'
                required: true

        secrets:
            docker_password:
                description: 'Docker registry password'
                required: true
            sentry_auth_token:
                description: 'Sentry auth token'
                required: false

jobs:
    test-e2e:
        name: Test - E2E
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Docker registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ inputs.docker_registry }}
                  username: ${{ inputs.docker_username }}
                  password: ${{ secrets.docker_password }}

            - name: Pull Docker image
              run: |
                  docker pull ${{ inputs.docker_registry }}/${{ inputs.docker_image }}:CI-${{ github.sha }}

            - name: Start application container
              run: |
                  RUNTIME_ENV_VARS=""
                  if [ ! -z "${{ inputs.runtime_env }}" ]; then
                    while IFS= read -r line; do
                      RUNTIME_ENV_VARS="$RUNTIME_ENV_VARS -e \"$line\""
                    done <<< "${{ inputs.runtime_env }}"
                  fi

                  docker run --rm -d \
                      --name ${{ inputs.docker_image }} \
                      -e PORT=${{ inputs.port }} \
                      $RUNTIME_ENV_VARS \
                      -e SENTRY_AUTH_TOKEN="${{ secrets.sentry_auth_token }}" \
                      -p ${{ inputs.port }}:${{ inputs.port }} \
                      ${{ inputs.docker_registry }}/${{ inputs.docker_image }}:CI-${{ github.sha }}

            - name: Wait for application readiness
              run: |
                  for i in {1..10}; do
                      if curl -s http://localhost:${{ inputs.port }}${{ inputs.ping_path }} >/dev/null; then
                          echo "Application is ready";
                          exit 0;
                      fi
                      echo "Waiting for application...";
                      sleep 2;
                  done
                  echo "Application failed to start"; exit 1;

            - name: Set up Node.js for testing tools
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ inputs.node_version }}

            - name: Cache pnpm packages
              uses: actions/cache@v4
              with:
                  path: ~/.pnpm-store
                  key: pnpm-cache
                  restore-keys: |
                      pnpm-

            - name: Install PNPM and Dependencies
              run: |
                  npm install -g pnpm
                  pnpm install --frozen-lockfile

            - name: Cache Playwright dependencies
              id: playwright-cache
              uses: actions/cache@v4
              with:
                  path: ~/.cache/ms-playwright
                  key: playwright-cache
                  restore-keys: |
                      playwright-

            - name: Install Playwright dependencies
              if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: pnpm exec playwright install --with-deps

            - name: Run tests
              run: PORT=${{ inputs.port }} pnpm run test

            - name: Stop and remove application container
              if: always()
              run: |
                  docker stop ${{ inputs.docker_image }} || true
                  docker rm ${{ inputs.docker_image }} || true
